<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>magasin</servlet-name>
        <servlet-class>magasin.magasin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>magasin.Init</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheProduit</servlet-name>
        <servlet-class>magasin.RechercheProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Affichage</servlet-name>
        <servlet-class>magasin.Affichage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>magasin</servlet-name>
        <url-pattern>/magasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheProduit</servlet-name>
        <url-pattern>/RechercheProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affichage</servlet-name>
        <url-pattern>/Affichage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
